<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Created</title>
    <link th:href="@{/css/pages/order/order-success.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="main_part">
        <div id="main_part_content">
            <p>Thank you for order!</p>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script src="../../scripts/pages/order/order-success.js"></script>
    <script src="../../scripts/utils/general.js"></script>
</body>
</html>
