@import '../../utils/general.css';
@import '../../utils/header.css';
@import '../../utils/footer.css';
@import '../../utils/popup.css';
@import '../../utils/form.css';
@import '../../utils/button.css';
@import '../../utils/table.css';

#main_part_content {
    text-align: center;
}

#orders_table {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#main_part_content {
    display: flex;
    flex-direction: column;
}

.empty_list {
    display: flex;
    height: 100%;
    margin: auto;
}

.empty_list span {
    color: darkgrey;
    font-size: 80px;
    font-weight: bold;
    margin: auto;
}

.price::after {
    content: ' ₴';
}
