@import '../../utils/general.css';
@import '../../utils/header.css';
@import '../../utils/footer.css';
@import '../../utils/popup.css';
@import '../../utils/form.css';
@import '../../utils/button.css';
@import '../../utils/table.css';
@import '../../utils/rating.css';

#main_part_content {
    text-align: center;
}

#orders_table {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

#orders_table .buttons {
    display: flex;
    height: 100%;
}

#orders_table .buttons button {
    margin-right: 10px;
}

#main_part_content {
    display: flex;
    flex-direction: column;
}

.empty_list {
    display: flex;
    height: 100%;
    margin: auto;
}

.empty_list span {
    color: darkgrey;
    font-size: 80px;
    font-weight: bold;
    margin: auto;
}

.price::after {
    content: ' ₴';
}

.pagination {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.pagination button {
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    margin-right: 10px;
}

.pagination button:last-child {
    margin-right: 0;
}

.pagination span {
    margin-top: auto;
    color: darkgrey;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

#verify_order_popup .popup_content {
    width: fit-content;
}

#verify_order_popup label {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#verify_order_popup label * {
    margin-top: auto;
    margin-bottom: auto;
}

#verify_order_popup label p:hover {
    color: grey;
}

#verify_order_popup .executors {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

label input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#order_details_popup .popup_content {
    width: 800px;
}

#order_details_popup table {
    width: 100%;
}

#order_details_popup .time::after {
    content: ' min';
}
