<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cleaning rating</title>
</head>
<body>
<div class="stars" th:fragment="cleaning-rating">
    <input type="radio" id="star1" name="cleaning_rating" value="1" /><input type="radio" id="star2" name="cleaning_rating" value="2" /><input type="radio" id="star3" name="cleaning_rating" value="3" /><input type="radio" id="star4" name="cleaning_rating" value="4" /><input type="radio" id="star5" name="cleaning_rating" value="5"/>

    <label for="star1" aria-label="Banana">1 star</label><label for="star2">2 stars</label><label for="star3">3 stars</label><label for="star4">4 stars</label><label for="star5">5 stars</label>
</div>
</body>
</html>
